.App{
  min-height: 100vh;
}

.no-pointer-event{
  pointer-events: none;
}
.App-logo {
  height: 43px;
  width: 43px;
  pointer-events: none;
}
.App-color{
  color:#376AED;
}
.App-background-primary{
  background-color: #376AED;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 